.check{
	-webkit-appearance:none;
	appearance:none;
	outline:none;
	width:70px;
	height:40px;
	background-color:#ccc;
	border-radius:50px;
	transition:.5s;
}
label{
	font-size:30px;
	font-weight:bold
}
.check::before{
	content:"";
	position:absolute;
	left:10px;
	width:40px;
	height:40px;
	background-color:#00f;
	border-radius:50%;
	transition:.5s;
}
.check:checked::before{
	left:50px;
}
.check:checked{
	background-color:#888ed5;
}